# Part I: Research Question

### A1. 
How much data will a customer use, in GB, per year? Is it possible to predict what the yearly bandwidth will be for the customer using several explanatory variables?
### A2. 
The goal is to accurately predict the amount of bandwidth a customer may utilize, which will aid stakeholders in decisions about network resource allocation and adjusting customer bandwidth limits

# Part ll: Method Justification

### B1: There are 5 assumptions made of the multiple regression model:
   - There exists a linear relationship between each explanatory variable and the response variable.
   - None of the explanatory variables are highly correlated with each other.
   - The observations are independant.
   - The residuals have constant variance at everyl point in the linear model.
   - The residuals of the model are normally distributed
   
(Zach. 2020)

### B2:
I've chosen to use Python for the multiple regression analysis. Python has a large following and is heavily used in academic and industrial circles, which means that there are plenty of useful analytics libraries available such as, statsmodels, seaborn, and more. (Terra, J. 2021)
### B3: 
Multiple regression is an appropriate technique to analyze the research question because our response variable, the bandwidth used in GB yearly, is a continuous variable and there may be multiple explanatory variables, such as children, tenure, income, or age that can help predict how much bandwidth a customer will use in a year.

# Part III: Data Preparation

### C1: Data preparation and manipulations:
   - Import the relevant Python libraries I plan on using in this notebook
   - Load the raw churn data into a Pandas dataframe so it can be read and manipulated appropriately
   - Rename columns that are not descriptive to the data they represent, such as the survey questions labeled item1-8

In [1]:
# Imports
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np
import statsmodels.api as sm

# Raw Data to DataFrame
df = pd.read_csv('churn_clean.csv', encoding='utf-8', index_col=0)

# Rename survey columns for better readability 
df.rename(columns = { 
    'Item1': 'Timely_response',
    'Item2': 'Timely_fixes', 
    'Item3': 'Timely_replacements', 
    'Item4': 'Reliability',
    'Item5': 'Options',
    'Item6': 'Respectful_response',
    'Item7': 'Courteous_exchange',
    'Item8': 'Active_listening'
}, inplace=True)

### C2: Summary Statistics

The churn data contains 10,000 customers and 50 columns/variables. For the multiple regression analysis I've selected **Bandwidth_GB_Year** to be the **responsive** variable and the following 19 variables as possible **explanatory** variables:

- Children
- Age
- Income
- Marital
- Gender
- Outage_sec_perweek
- Contacts
- Yearly_equip_failure
- Techie
- Contract
- InternetService
- StreamingTV
- StreamingMovies
- Tenure
- MonthlyCharge
- Timely_response
- Timely_fixes
- Timely_replacements
- Reliability

Variables omitted from the analysis are unique customer identifiers, customer location data, and other variables I felt did not logically contribute to the research question such as particular survey answers.

**Continuous numeric variables**:

- Children
- Age
- Income
- Outage_sec_perweek
- Contacts
- Yearly_equip_failure
- Tenure
- MonthlyCharge

**Categorical variables** 

- Marital
- Gender
- Techie
- Contract
- InternetService
- StreamingTV
- StreamingMovies
- Timely_response
- Timely_fixes
- Timely_replacements
- Reliability

In [2]:
# Show entire Dataframe
df

,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,Population,...,MonthlyCharge,Bandwidth_GB_Year,Timely_response,Timely_fixes,Timely_replacements,Reliability,Options,Respectful_response,Courteous_exchange,Active_listening
CaseOrder,,,,,,,,,,,,,,,,,,,,,
1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,e885b299883d4f9fb18e39c75155d990,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,38,...,172.455519,904.536110,5,5,5,3,4,4,3,4
2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,f2de8bef964785f41a2959829830fb8a,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,10446,...,242.632554,800.982766,3,4,3,3,4,3,4,4
3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,f1784cfa9f6d92ae816197eb175d3c71,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,3735,...,159.947583,2054.706961,4,4,2,4,4,3,3,3
4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,dc8a365077241bb5cd5ccd305136b05e,Del Mar,CA,San Diego,92014,32.96687,-117.24798,13863,...,119.956840,2164.579412,4,4,4,2,5,4,3,3
5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,aabb64a116e83fdc4befc1fbab1663f9,Needville,TX,Fort Bend,77461,29.38012,-95.80673,11352,...,149.948316,271.493436,4,4,4,3,4,4,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,M324793,45deb5a2-ae04-4518-bf0b-c82db8dbe4a4,9499fb4de537af195d16d046b79fd20a,Mount Holly,VT,Rutland,5758,43.43391,-72.78734,640,...,159.979400,6511.252601,3,2,3,3,4,3,2,3
9997,D861732,6e96b921-0c09-4993-bbda-a1ac6411061a,c09a841117fa81b5c8e19afec2760104,Clarksville,TN,Montgomery,37042,36.56907,-87.41694,77168,...,207.481100,5695.951810,4,5,5,4,4,5,2,5
9998,I243405,e8307ddf-9a01-4fff-bc59-4742e03fd24f,9c41f212d1e04dca84445019bbc9b41c,Mobeetie,TX,Wheeler,79061,35.52039,-100.44180,406,...,169.974100,4159.305799,4,4,4,4,4,4,4,5
9999,I641617,3775ccfc-0052-4107-81ae-9657f81ecdf3,3e1f269b40c235a1038863ecf6b7a0df,Carrollton,GA,Carroll,30117,33.58016,-85.13241,35575,...,252.624000,6468.456752,4,4,6,4,3,3,5,4
10000,T38070,9de5fb6e-bd33-4995-aec8-f01d0172a499,0ea683a03a3cd544aefe8388aab16176,Clarkesville,GA,Habersham,30523,34.70783,-83.53648,12230,...,217.484000,5857.586167,2,2,3,3,3,3,4,1

In [3]:
# Show number of columns and records
df.shape

(10000, 49)

In [4]:
# List all columns
df.columns

Index(['Customer_id', 'Interaction', 'UID', 'City', 'State', 'County', 'Zip',
       'Lat', 'Lng', 'Population', 'Area', 'TimeZone', 'Job', 'Children',
       'Age', 'Income', 'Marital', 'Gender', 'Churn', 'Outage_sec_perweek',
       'Email', 'Contacts', 'Yearly_equip_failure', 'Techie', 'Contract',
       'Port_modem', 'Tablet', 'InternetService', 'Phone', 'Multiple',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'PaperlessBilling', 'PaymentMethod',
       'Tenure', 'MonthlyCharge', 'Bandwidth_GB_Year', 'Timely_response',
       'Timely_fixes', 'Timely_replacements', 'Reliability', 'Options',
       'Respectful_response', 'Courteous_exchange', 'Active_listening'],
      dtype='object')

In [5]:
# Describe dataset statistics
df.describe()

,Zip,Lat,Lng,Population,Children,Age,Income,Outage_sec_perweek,Email,Contacts,...,MonthlyCharge,Bandwidth_GB_Year,Timely_response,Timely_fixes,Timely_replacements,Reliability,Options,Respectful_response,Courteous_exchange,Active_listening
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.0000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,49153.319600,38.757567,-90.782536,9756.562400,2.0877,53.078400,39806.926771,10.001848,12.016000,0.994200,...,172.624816,3392.341550,3.490800,3.505100,3.487000,3.497500,3.492900,3.497300,3.509500,3.495600
std,27532.196108,5.437389,15.156142,14432.698671,2.1472,20.698882,28199.916702,2.976019,3.025898,0.988466,...,42.943094,2185.294852,1.037797,1.034641,1.027977,1.025816,1.024819,1.033586,1.028502,1.028633
min,601.000000,17.966120,-171.688150,0.000000,0.0000,18.000000,348.670000,0.099747,1.000000,0.000000,...,79.978860,155.506715,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,26292.500000,35.341828,-97.082813,738.000000,0.0000,35.000000,19224.717500,8.018214,10.000000,0.000000,...,139.979239,1236.470827,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,48869.500000,39.395800,-87.918800,2910.500000,1.0000,53.000000,33170.605000,10.018560,12.000000,1.000000,...,167.484700,3279.536903,3.000000,4.000000,3.000000,3.000000,3.000000,3.000000,4.000000,3.000000
75%,71866.500000,42.106908,-80.088745,13168.000000,3.0000,71.000000,53246.170000,11.969485,14.000000,2.000000,...,200.734725,5586.141369,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
max,99929.000000,70.640660,-65.667850,111850.000000,10.0000,89.000000,258900.700000,21.207230,23.000000,7.000000,...,290.160419,7158.981530,7.000000,7.000000,8.000000,7.000000,7.000000,8.000000,7.000000,8.000000

### C3: Steps used to prepare the data for analysis

- Drop variables from the dataset that will not be used in the mulitple regression analysis
- Encode categorical and boolean variables ?? ## Check if datacamp examples did this?
- View univariate and bivariate visualizations

In [6]:
# Drop variables/columns that will not be used in analysis
df = df.drop(columns=[
    'Customer_id',
    'Interaction',
    'UID',
    'City',
    'State',
    'County',
    'Zip',
    'Lat',
    'Lng',
    'Population',
    'Area',
    'TimeZone',
    'Job',
    'Email',
    'Port_modem',
    'Tablet',
    'Phone',
    'Multiple',
    'OnlineSecurity',
    'OnlineBackup',
    'DeviceProtection',
    'TechSupport',
    'PaperlessBilling',
    'PaymentMethod',
    'Options',
    'Respectful_response',
    'Courteous_exchange',
    'Active_listening'
])

In [7]:
# Show remaining columns and that no nulls exists
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1 to 10000
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Children              10000 non-null  int64
 1   Age                   10000 non-null  int64
 2   Income                10000 non-null  float64
 3   Marital               10000 non-null  object
 4   Gender                10000 non-null  object
 5   Churn                 10000 non-null  object
 6   Outage_sec_perweek    10000 non-null  float64
 7   Contacts              10000 non-null  int64
 8   Yearly_equip_failure  10000 non-null  int64
 9   Techie                10000 non-null  object
 10  Contract              10000 non-null  object
 11  InternetService       10000 non-null  object
 12  StreamingTV           10000 non-null  object
 13  StreamingMovies       10000 non-null  object
 14  Tenure                10000 non-null  float64
 15  MonthlyCharge         10000 non-null  float64
 16  Bandwidth_GB_Year     10000 non-null  float64
 17  Timely_response       10000 non-null  int64
 18  Timely_fixes          10000 non-null  int64
 19  Timely_replacements   10000 non-null  int64
 20  Reliability           10000 non-null  int64
dtypes: float64(5), int64(8), object(8)
memory usage: 1.7+ MB

### C4: Univariate and Bivariate visualizations

# I. Sources

Zach. (2021, November 16). _The five assumptions of multiple linear regression._ Statology. Retrieved January 9, 2022, from https://www.statology.org/multiple-linear-regression-assumptions/ 

Terra, J. (2021, July 22). _Python for data science and data analysis._ Simplilearn.com. Retrieved January 9, 2022, from https://www.simplilearn.com/why-python-is-essential-for-data-analysis-article#why_is_python_essential_for_data_analysis